# Build output directories
bin/*
obj/*

# Visual Studio files
.vs/
*.user
*.suo

# Temporary files
*.tmp
*.bak

# Log files
*.log

# User-specific configuration
*.userprefs

# Nuget packages
*.nupkg

# Other
.cursor/*
.git/*
.idea/*
.vs/*
.vscode/*
.repomix/*
.repomixignore
.roomodes
repomix-output.xml
repomix.config.json
